#Macs are pigs
**/.DS_Store
#LaTex is a pig, too
**/*.aux
**/*.fdb_latexmk
**/*.log
**/*.pdf
**/*.gz
**/*.fls
#VS is a pig
**/.vs
server/packages/
/Chess^2/Assets/plugins/GameModel.xml
/documentation/GameModel.xml
